<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>PRegistroService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PImagenService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PUploadfileService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PInicioService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PConsultaPerfilService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PSesionService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PRegistroService</servlet-name>
        <url-pattern>/PRegistroService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PImagenService</servlet-name>
        <url-pattern>/PImagenService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PUploadfileService</servlet-name>
        <url-pattern>/PUploadfileService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PInicioService</servlet-name>
        <url-pattern>/PInicioService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PConsultaPerfilService</servlet-name>
        <url-pattern>/PConsultaPerfilService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PSesionService</servlet-name>
        <url-pattern>/PSesionService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
