<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>PBuscadorService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PContadoresService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PContenidoService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PFavoritoService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PDownloadFileService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PInicioService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PRankingService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PRegistroService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PSeguirService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PSesionService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PSuscripcionService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PConsultaPerfilService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PUploadfileService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PListaService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PImagenService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PTemaService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PBuscadorService</servlet-name>
        <url-pattern>/PBuscadorService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PContadoresService</servlet-name>
        <url-pattern>/PContadoresService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PContenidoService</servlet-name>
        <url-pattern>/PContenidoService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PFavoritoService</servlet-name>
        <url-pattern>/PFavoritoService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDownloadFileService</servlet-name>
        <url-pattern>/PDownloadFileService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PInicioService</servlet-name>
        <url-pattern>/PInicioService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PRankingService</servlet-name>
        <url-pattern>/PRankingService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PRegistroService</servlet-name>
        <url-pattern>/PRegistroService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PSeguirService</servlet-name>
        <url-pattern>/PSeguirService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PSesionService</servlet-name>
        <url-pattern>/PSesionService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PSuscripcionService</servlet-name>
        <url-pattern>/PSuscripcionService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PConsultaPerfilService</servlet-name>
        <url-pattern>/PConsultaPerfilService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PUploadfileService</servlet-name>
        <url-pattern>/PUploadfileService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PListaService</servlet-name>
        <url-pattern>/PListaService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PImagenService</servlet-name>
        <url-pattern>/PImagenService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PTemaService</servlet-name>
        <url-pattern>/PTemaService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>javax.xml.ws.WebServiceException</exception-type>
        <location>/vistas/pagina_error_conexion.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/vistas/pagina_error_no_existe.jsp</location>
    </error-page>
</web-app>
