tr td:first-child {
    padding: 5px 25px 5px 20px;
}

th div {
    padding: 10px;
    font-size: 20px;
    text-decoration: underline;
}

text span {
    padding: 5px 7px 5px 20px;
}

span {
    padding-right: 10px;
}

#info {
    padding-top: 10px;
}

#leyenda {
    float: left;
    padding-top: 5px;
}

#opciones {
    float: left;
    padding-right: 50px;    
}

#resultados {
    float: left;
    padding-right: 50px;
    font-size: 25px;
}

#pResultados {
    font-size: 30px;
}

#imgLista {
    margin-right: 15px;
    border-radius: 5px;
}