.panelTexto {
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    border-width: 2px;
    background-color: #ff8866;
    margin-bottom: 20px;
}

.mensaje {
    font-size: 30px;
    color: black;
    padding-top: 10px;
}